NamePlate {
    .Background {
        background-color: rgb(48, 48, 48,0.8);
        border-radius: 20px;
        margin: auto;
        padding: 8px 8px 0px 8px;
        display: flex;
    }

    .SteamAvatar {
        border-radius: 10px;
    }

    .SpeakerIcon {
        height: 80px;
        width: 80px;
        align-items: center;
        padding-right: 15px;
    }

    .Friend, .Text {
        font-family: "Bobaland";
        color: white;
        text-shadow: 2px 2px black;
        align-items: center;
        font-size: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .Friend {
        color: green;
    }
}
