@using Sandbox;
@using System;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;
@using Sandbox.Services;

@attribute [StyleSheet]


<div class=Panel >
		<div class="MapIcon"></div>
		<span class="ServerName">MY SERVER NAME BLA BLA BLA</span>
		<div class=RightHandPanel>
			<span class="ConnectedPlayers">10 / 69</span>
			
		<span class="Connection">10MS</span></div>
	</div>

@code
{

	protected override int BuildHash()
	{
		
		return HashCode.Combine(Time.Now);
		//return HashCode.Combine( MaxPlayers, MapPackage );
	}
}