@using Sandbox;
@using System;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;

<root>
	<div class="controls">

		<FormGroup class="form-group">
			<Label>Game Name</Label>
			<Control>
				<TextEntry Value:bind=@serverName></TextEntry>
			</Control>
		</FormGroup>

		<FormGroup class="form-group">
			<Label>Maximum Players: @MaxPlayers.ToString() </Label>

			<Control>
				<SliderControl Min=@(1) ShowRange=@true
							   Max=@MaxPlayersSupported Value:bind=@MaxPlayers > </SliderControl>
			</Control>
		</FormGroup>

		<div class="spacer" />

		<a class="button" onclick=@Play>Start</a>
		<a class="button" href="/">Return</a>
	</div>
</root>

@code
{
	string serverName { get; set; } = "MySpleefGame";
	int MaxPlayersSupported { get; set; } = 1;
	int MaxPlayers { get; set; } = 1;
	Package MapPackage { get; set; }


	protected override async Task OnParametersSetAsync()
	{
		MaxPlayersSupported = Game.Menu.Package.GetMeta<int>("MaxPlayers", 2);
		MaxPlayers = 24;

		MapPackage = await Package.FetchAsync("facepunch.square", false);
		StateHasChanged();
	}

	async Task Play()
	{
		await Game.Menu.StartServerAsync(MaxPlayers, serverName, MapPackage.FullIdent);
	}

	protected override int BuildHash()
	{
		
		return HashCode.Combine(Time.Now);
		//return HashCode.Combine( MaxPlayers, MapPackage );
	}
}